.intro {
    min-height: 46rem;
    &-content {
        padding: 12.125rem 0 17.31rem;
        position: relative;
        z-index: 1;
        h2, p {
            max-width: 32.1875rem;
        }
        p {
            line-height: 1.5;
            margin-bottom: 3rem;
        }
        .contact-btn {
            width: 12.1875rem;
            height: 3.875rem !important;
            .v-btn__content {
                font-weight: var(--font-weight-bold);
            }
        }
    }
    &-img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 82%;
        transform: translateY(19.36%);
        max-width: 73.8rem;
        z-index: 1;
    }

    @media (max-width: 959px) {
        flex-direction: column;
        &-content {
            padding: 8.125rem 0 0;
            margin-bottom: -6.125rem;
        }
        &-img {
            width: 100%;
            position: relative;
            order: 2;
        }
    }

    @media (max-width: 595px) {
        &-content {
            text-align: center;
            margin-bottom: 0;
            h2, p {
                margin-left: auto;
                margin-right: auto;
            }
        }
        &-img {
            transform: translateY(27.36%);
        }
    }
}
